
<div class="max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl bg-bgtitle border border-gray-200  hover:bg-hoverbg y dark:hover:bg-purple-500 transition-colors duration-500  rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <a [routerLink]="['/lol/info-champions/',allChampionsList.id]">
      <img class="rounded-t-lg" [src]="allChampionsList.image.full | championsImage " alt="" />
  </a>
  <div class="p-5">
      <h2 class="title-name">
        {{ allChampionsList.id | uppercase }}
      </h2>
  </div>
</div>
