<main>


<section class="content-section fade-in-top ">

  <div class="content-text">
    <h1 class="text-center elige">
      ELIGE A TU <br>
      <span class="campeon"> CAMPEÓN </span>
      <p class="teniendo">
        Teniendo en cuenta que hay más de 140 campeones, no tardarás en encontrar tu estilo de juego. Domina a uno o a todos.
      </p>
    </h1>

    <!-- <div>
      <button (click)="filterByTag('Mage')" class="bg-blue-700">Magos</button>
    </div> -->
  </div>
  <div class="grid grid-cols-5 gap-4">
    <div  *ngFor="let champions of listAllChampions ">
      <app-champion-card [allChampionsList]="champions" ></app-champion-card>
    </div>
  </div>


</section>








</main>
