


/* .content-card{
  border: 1px solid green;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;

} */

.content-main{
  min-height: 100vh;


}


.content-section{
  margin-top: 80px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items:center ;

  /* border: 1px solid red; */

}



.content-text{
  /* border: 1px solid red; */
  width: 950px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.elige{
  font-family: 'beauforItalic';
  height: 200px;
  letter-spacing: 1px;
  line-height: 80px;
  font-size: 24px;

}


.campeon{
  font-size: 108px;
}


.teniendo{
  text-align: center;
  line-height: 20px;
  font-family: 'spiegeRegular';
  font-weight: lighter;
  font-size: 14px;

  /* letter-spacing: 1.12px; */
  /* text-wrap: wrap; */
}


@media screen and (max-width: 600px) {
  .elige{
    font-family: 'beauforItalic';
    height: 200px;
    letter-spacing: 1px;
    line-height: 60px;
    font-size: 24px;

  }

  .campeon{
    font-size: 39px;
  }

  .content-section{
    padding: 20px;
    margin-top: 80px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items:center ;
    /* border: 1px solid red; */

  }

  .content-text{
    /* border: 1px solid red; */
    width: 300px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .boton-g{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

  }

  .boton-g2{
    margin: 1px;
  }

}
