


.content-card{
  border: 1px solid green;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;

}

.content-section{
  margin-top: 80px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items:center ;

  /* border: 1px solid red; */

}

.content-main{
  height: 100vh;

}





.content-text{
  /* border: 1px solid red; */
  width: 550px;
  margin-bottom: 20px;
}

.elige{
  font-family: 'beauforItalic';
  letter-spacing: 1px;
  line-height: 80px;
  font-size: 24px;
}


.campeon{
  font-size: 108px;
}


.teniendo{
  text-align: center;
  line-height: 20px;
  font-family: 'spiegeRegular';
  font-weight: lighter;
  font-size: 14px;

  /* letter-spacing: 1.12px; */
  /* text-wrap: wrap; */
}
