


.content-card{
  border: 1px solid green;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;

}

.content-section{
  margin-top: 80px;
  height: 100vh;
  width: 1200px;
  /* border: 1px solid red; */

}
