.main-t {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.span-name{
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  color: white;

}

.span-name-title{
  font-family: 'beauforLol'; /* Puedes darle el nombre que desees */
  font-size: 19px;
  letter-spacing: 1px;
  color: white;

}


.header-lol{
  border-bottom: 2.5px solid #C28F2C;
}
@media screen and (max-width: 600px) {

.text-resp{
  color: black;
}



}
