.main-t {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.span-name{
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  color: white;

}
