main{
/* border: 1px solid yellow; */
width: 100vw;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
display: flex ;
justify-content: center;
align-items: center;



}


.content-section{
  width: 1400px;
  height: 700px;
  border: 1px solid red;
  display: flex;
  padding: 15px;
}

.dicho-champion{
  font-size: 22px;
  letter-spacing: 2px;
  font-family: 'beauforItalic';
}

.title-champions{
  font-size: 108px;
  font-family: 'beauforItalic';
}


.content-lore{
  border: 1px solid hotpink;
  width: 300px;
  font-family: 'spiegeRegular';
}

.titles{
  border: 1px solid yellow;
  text-align: center;
}




/* contenedor imagen fizz */
.content-img{
  width: 600px;
  height: 400px;
  /* border: 1px solid red; */
}
.content-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover ;
}
/* --------------------------- */

.content-text{
  color: #FFFF;
  /* border: 1px solid red; */
  /* transform: skewX(-40deg); */
}



.card-dif{
  width: 23px;
  height: 15px;
  background-color: #013241;
  margin: 1px;
  background-color: none;
  transform: skewX(-40deg);
}

.cont-card-d{
  display: flex;

}


.filled {
  background-color: #08d7f7;

}


.content-card-p{
  /* border: 1px solid greenyellow; */
  display: flex;
  width: 300px;
  justify-content: space-around;
  align-items: center;
}


.dificultad-content{
  margin-top: 1px;
  /* border: 1px solid rgb(255, 0, 166); */
  font-family: 'spiegeRegular';
  text-transform: uppercase ;
  font-size: 10px;
  line-height: 11.5px;
  letter-spacing: 1.5px;
  color: #d0a85c;
}



.icon-con{
  /* background-color: aliceblue; */

}




@media screen and (max-width: 600px) {

  main{
    height: 100vh;
    background-position: center;

  }




}
