main{

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.section-info{
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex ;
  height: 100vh;
  justify-content: center;
  width: 100vw;

}

@media screen and (max-width: 600px) {

  main{
    height: 100vh;
    background-position: center;

  }
 



}
