main{
/* border: 1px solid yellow; */
width: 100vw;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
display: flex ;
justify-content: center;
align-items: center;



}


.content-section{
  width: 1300px;
  height: 600px;
  border: 1px solid red;
  display: flex;
  padding: 10px;
}

.dicho-champion{
  font-size: 22px;
  letter-spacing: 2px;
  font-family: 'beauforItalic';
}

.title-champions{
  font-size: 108px;
  font-family: 'beauforItalic';
}


.content-lore{
  border: 1px solid hotpink;
  width: 300px;
}

.titles{
  border: 1px solid yellow;
  text-align: center;
}




/* contenedor imagen fizz */
.content-img{
  width: 600px;
  height: 400px;
  /* border: 1px solid red; */
}
.content-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover ;
}
/* --------------------------- */

.content-text{
  color: #FFFF;
  /* border: 1px solid red; */
  /* transform: skewX(-40deg); */
}



.card-dif{
  width: 40px;
  height: 40px;
  /* border: 1px solid red; */
  margin: 1px;
  background-color: none;
}



.filled {
  background-color: blue;
}







@media screen and (max-width: 600px) {

  main{
    height: 100vh;
    background-position: center;

  }




}
