/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* fonts  */
@font-face {
  font-family: 'beauforLol'; /* Puedes darle el nombre que desees */
  src: url('./assets/fonts/BeaufortforLOL-Bold.otf') format('truetype'); /* Ajusta la ruta y el formato según tus archivos */
}

@font-face {
  font-family: 'spiegeLol'; /* Puedes darle el nombre que desees */
  src: url('./assets/fonts/Spiegel-Bold.otf') format('truetype'); /* Ajusta la ruta y el formato según tus archivos */
}


@font-face {
  font-family: 'beauforItalic'; /* Puedes darle el nombre que desees */
  src: url('./assets/fonts/BeaufortforLOL-HeavyItalic.otf') format('truetype'); /* Ajusta la ruta y el formato según tus archivos */
}
